{% extends "generic_show_form.html.twig" %}
{% import 'components/form/fields_macros.html.twig' as fields %}

{% block form_fields %}
    {% if can_edit %}
        <input type="hidden" name="config_context" value="plugin:centreon">
        <div class="mb-3">
        <label class="form-label">{{ __("Centreon API URL") }}</label>
        <input type="text" class="form-control" name="centreon-url" placeholder="centreon url" value="{{ current_config['centreon-url'] }}">
        </div>
        <div class="mb-3">
        <label class="form-label">{{ __("Centreon username") }}</label>
        <input type="text" class="form-control" name="centreon-username" placeholder="your username" value="{{ current_config['centreon-username'] }}">
        </div>
        <div class="mb-3">
        <label class="form-label">{{ __("Centreon password") }}</label>
        <input type="password" class="form-control" name="centreon-password" placeholder="your password" value="{{ current_config['centreon-password'] }}">
        </div>
    {% endif %}
{% endblock %}