<!DOCTYPE HTML>
<html lang="en">
<head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css">
</head>
<body>
    <div class="d-flex flew-row align-items-center py-3 ps-2">
    <h1 class="pe-3 m-0">Host Information</h1>
    <img class="h-4 d-inline-block" src="https://cdn.icon-icons.com/icons2/2699/PNG/512/centreon_logo_icon_170408.png" alt="lien_centreon">
    </div>

    <h2 class="p-2 m-0">General</h2>

<div class="datagrid container text-center my-2">
    <div class="row">
    <div class="col">
        <div class="datagrid-item">
            <div class="datagrid-title fw-bold">Status</div>
                <div class="datagrid-content mt-2">
                    {% if one_host.status == 'UP' %}
                        <span class="status status-green">
                        {{ one_host.status }}
                        </span>
                    {% elseif one_host.status == 'DOWN' %}
                        <span class="status status-red">
                        {{ one_host.status }}
                        </span>
                    {% else %}
                        <span class="status status-orange">
                        {{ one_host.status }}
                        </span>
                    {% endif %}
                </div>
    </div>
    </div>
    <div class="col">
        <div class="datagrid-item">
            <div class="datagrid-title fw-bold">Name</div>
                <div class="datagrid-content mt-2">{{ one_host.name }}</div>
        </div>
    </div>
    <div class="col">
        <div class="datagrid-item">
            <div class="datagrid-title fw-bold">Alias</div>
                <div class="datagrid-content mt-2">{{ one_host.alias }}</div>
        </div>
    </div>
    <div class="col">
        <div class="datagrid-item">
            <div class="datagrid-title fw-bold">FQDN</div>
                <div class="datagrid-content mt-2">{{ one_host.fqdn }}</div>
        </div>
    </div>
    <div class="col">
        <div class="datagrid-item">
            <div class="datagrid-title fw-bold">Last check</div>
                <div class="datagrid-content mt-2">{{ one_host.last_check }}</div>
        </div>
    </div>
    <div class="col">
        <div class="datagrid-item">
            <div class="datagrid-title fw-bold">Next check</div>
                <div class="datagrid-content mt-2">{{ one_host.next_check }}</div>
        </div>
    </div>
    <div class="col">
        <div class="datagrid-item">
            <div class="datagrid-title fw-bold">Check period</div>
                <div class="datagrid-content mt-2">{{ one_host.check_period }}</div>
        </div>
    </div>
</div>
</div>

<div class="card border-0">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs" data-bs-toggle="tabs">
      <li class="nav-item">
        <a href="#tabs-services-ex1" class="nav-link active" data-bs-toggle="tab">Services</a>
      </li>
      <li class="nav-item">
        <a href="#tabs-historique-ex1" class="nav-link" data-bs-toggle="tab">Historique</a>
      </li>
    </ul>
  </div>
</div>
  <div class="card-body">
    <div class="tab-content">
      <div class="tab-pane active show" id="tabs-services-ex1">
        <div class="d-flex flew-row align-items-center p-2 mt-3">
                <h2 class="pe-3 m-0">Services</h2>
                {% set count_ok = 0 %}
                {% set count_w = 0 %}
                {% set count_d = 0 %}
                {% set count_un = 0 %}
                    {% for service in one_host["services"] %}
                        {% if service.status.name == "OK" %}
                            {% set count_ok = count_ok + 1 %}
                        {% elseif service.status.name == "WARNING" %}
                            {% set count_w = count_w + 1 %}
                        {% elseif service.status.name == "CRITICAL" %}
                            {% set count_d = count_d + 1 %}
                        {% else %}
                            {% set count_un = count_un + 1 %}
                        {% endif %}
                    {% endfor %}
                        <div class="d-flex align-items-center" >
                            <span class="badge bg-teal m-1" title="OK" data-bs-toggle="tooltip" data-bs-placement="top">{{ count_ok }}</span>
                            <span class="badge bg-orange m-1" title="WARNING" data-bs-toggle="tooltip" data-bs-placement="top">{{ count_w }}</span>
                            <span class="badge bg-red m-1" title="CRITICAL" data-bs-toggle="tooltip" data-bs-placement="top">{{ count_d }}</span>
                            <span class="badge bg-grey m-1" title="UNKNOWN" data-bs-toggle="tooltip" data-bs-placement="top">{{ count_un }}</span>
                        </div>
        </div>

        <div class="row row-deck p-2 mb-2">
            {% for service in one_host["services"] %}
                <div class="col-md-4">
                <div class="card mt-3" style="max-height: 200px;">
                    {% if service.status.name == "OK" %}
                        <div class="card-status-start bg-green"></div>
                        <div class="card-body">
                        <div class="d-flex align-items-center">
                        <span class="status status-green">{{ service.status.name }}</span>
                        <h3 class="card-title m-0 px-2 text-truncate">{{ service["display_name"] }}</h3>
                        </div>
                    {% elseif service.status.name == "WARNING" %}
                        <div class="card-status-start bg-orange"></div>
                        <div class="card-body">
                        <div class="d-flex align-items-center">
                        <span class="status status-orange">{{ service.status.name }}</span>
                        <h3 class="card-title m-0 px-2 text-truncate">{{ service["display_name"] }}</h3>
                        </div>
                    {% elseif service.status.name == "CRITICAL" %}
                        <div class="card-status-start bg-red"></div>
                        <div class="card-body">
                        <div class="d-flex align-items-center">
                        <span class="status status-red">{{ service.status.name }}</span>
                        <h3 class="card-title m-0 px-2 text-truncate">{{ service["display_name"] }}</h3>
                        </div>
                    {% else %}
                        <div class="card-status-start bg-secondary"></div>
                        <div class="card-body">
                        <div class="d-flex align-items-center">
                        <span class="status status-grey">{{ service.status.name }}</span>
                        <h3 class="card-title m-0 px-2 text-truncate">{{ service["display_name"] }}</h3>
                        </div>
                    {% endif %}
                        <div class="d-flex justify-content-between">
                        <code class="m-0 mt-3"> {{ service["output"] }} </code>
                        <code class="text-nowrap m-0 mt-3 ms-2"> {{ service["duration"] }} </code>
                </div>
                </div>
        </div>
  </div>
             {% endfor %}
</div>
    </div>
        <div class="tab-pane" id="tabs-historique-ex1">
            <h2 class="pe-3 m-0">Historique</h2>
                {% for tl in one_host["timeline"] %}
                    <div class="card my-2">
                        <div class="card-body d-flex align-items-center justify-content-start">
                            <div style="width:25px;">
                            <i class="ti ti-calendar-time" style="font-size:25px"></i>
                            </div>
                                <div>
                                <code>{{ tl.date|date("l,F d,Y G:i:s") }}</code>
                                <code>{{ tl.content }}</code>
                                {% if tl.status.name == "UP" %}
                                <span class="status status-green">{{ tl.status.name }}</span>
                                {% elseif tl.status.name == "DOWN" %}
                                <span class="status status-red">{{ tl.status.name }}</span>
                                {% elseif tl.status.name == "WARNING" %}
                                <span class="status status-orange">{{ tl.status.name }}</span>
                                {% else %}
                                <span class="status status-grey">{{ tl.status.name }}</span>
                                {% endif %}
                                <code> tries : {{ tl.tries }}</code>
                                </div>
                    </div>  
                </div>
                {% endfor %}
        </div>
        </div>
    </body>
</html>