{#
 # -------------------------------------------------------------------------
 # Centreon plugin for GLPI
 # -------------------------------------------------------------------------
 #
 # LICENSE
 #
 # This file is part of Centreon.
 #
 # Centreon is free software; you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation; either version 3 of the License, or
 # (at your option) any later version.
 #
 # Centreon is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with Centreon. If not, see <http://www.gnu.org/licenses/>.
 # -------------------------------------------------------------------------
 # @copyright Copyright (C) 2022-2023 by Centreon plugin team.
 # @license   GPLv3 https://www.gnu.org/licenses/gpl-3.0.html
 # @license   GPLv2 https://www.gnu.org/licenses/gpl-2.0.html
 # @link      https://github.com/pluginsGLPI/centreon
 # -------------------------------------------------------------------------
 #}

{% import "components/form/fields_macros.html.twig" as fields %}
<div class="d-flex flew-row align-items-center py-3 ps-2">
    <h1 class="pe-3 m-0">Host Information</h1>
        <img class="h-4 d-inline-block" src="https://cdn.icon-icons.com/icons2/2699/PNG/512/centreon_logo_icon_170408.png" alt="lien_centreon">
            <button type="button" class="btn ms-4 me-1 toggle" id="check" >
                <i class="ti ti-refresh"></i>
                <span>{{ __('Check', 'centreon') }}</span>
            </button>
                <div class="spinner-border text-purple mx-4 d-none toggle" role="status" id="spinner"></div>
            <button type="button" class="btn" id="downtime">
                <i class="ti ti-clock-pause"></i>
                <span>{{ __('Downtime', 'centreon') }}</span>
            </button>
</div>
<form id="setdowntime">
<div class="modal" tabindex="-1" id="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ __('Set downtime', 'centreon') }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body d-flex justify-content-start align-items-center">
                <div class="me-3">
                <label class="form-check">
                    {{ fields.hiddenField('author_id', '') }}
                    <input type="hidden" name="is_fixed" value="false">
                    <input type="checkbox" class="form-check-input" id="is_fixed" name="is_fixed" value="true" checked/>
                    <span class="form-check-label">{{ __('fixed', 'centreon') }}</span>
                </label>
                </div>
            <div class="flex-column">
            <div class="row">
                {{ fields.datetimeField('start_time', '', 'From') }}
                {{ fields.datetimeField('end_time', '', 'To') }}
            </div>
            <div class="mt-2" id="duration_select">
                <fieldset class="form-fieldset mx-auto w-50">
                    <div class="mb-3">
                        <label class="form-label">{{ __('Duration', 'centreon') }}</label>
                        <input type="text" class="form-control" autocomplete="off" name="duration" id="duration" placeholder="3600"/>
                    </div>
                    <div class="mb-3">
                        <select class="form-select" id="time_select" name="time_select">
                            <option value="1" selected>{{ __('seconds', 'centreon') }}</option>
                            <option value="2">{{ __('minutes', 'centreon') }}</option>
                            <option value="3">{{ __('hours', 'centreon') }}</option>
                        </select>
                    </div>
                </fieldset>
            </div>
            </div>
      </div>
    <div class="modal-body">
        <div class="row">
            <label class="form-label">{{ __('Comment', 'centreon') }}</label>
            <textarea class="form-control" rows="3" id="comment" name="comment">{{ __('Downtime set by ', 'centreon') }}{{ username }}</textarea>
        </div>
            <div class="my-3">
            <label class="form-check">
            <input type="hidden" name="with_services" value="false">
            <input type="checkbox" class="form-check-input" id="with_services" name="with_services" value=true checked/>
            <span class="form-check-label text-nowrap">{{ __('Set downtime on services attached to host', 'centreon') }}</span>
            </label>
            </div>

    </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
          Cancel
        </a>
        <a href="#" class="btn btn-primary ms-auto" data-bs-dismiss="modal" id="submit">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
          Set downtime
        </a>
      </div>
    </div>
  </div>
</div>
</form>
    <div class="d-flex flex-column">
        <h2 class="p-2 m-0">General</h2>
            {% if one_host.in_downtime == true %}
                {% set indowntime = "true" %}
                {% set lastdowntimeid = one_host.downtimes.0.id %}
                <div class="alert alert-warning" role="alert">
                    <h4 class="alert-title mb-1">{{ __('Host in downtime', 'centreon') }}</h4>
                        <div class="d-flex flex-row fst-italic my-2">
                            <div class="me-2">{{ __('From : ', 'centreon') }}{{ one_host.downtimes.0.start_time }}</div>
                            <div>{{ __('To : ', 'centreon') }}{{ one_host.downtimes.0.end_time }}</div>
                        </div>
                            <div>{{ __('Author name : ', 'centreon') }}{{ one_host.downtimes.0.author_name }}</div>
                            <div>{{ __('Comment : ', 'centreon') }}{{ one_host.downtimes.0.comment }}</div>
                            <a href="#" class="btn mt-2" id="cancel_d">{{ __('Cancel', 'centreon') }}</a>
                </div>
            {% endif %}
    </div>

    {% include '@centreon/ackModal.html.twig' %}

{% if one_host.in_downtime == false %}
{% set indowntime = "false" %}
<div class="datagrid container text-center my-2">
{% elseif one_host.in_downtime == true %}
<div class="datagrid container text-center my-2 bg-blue-lt rounded-3">
{% endif %}
    <div class="row">
    <div class="col">
        <div class="datagrid-item">
            <div class="datagrid-title fw-bold">{{ __("Status") }}</div>
                <div class="datagrid-content mt-2">
                    {% if one_host.status == 'UP' %}
                        <span class="status status-green">
                        {{ one_host.status }}
                        </span>
                    {% elseif one_host.status == 'DOWN' %}
                        <div class="btn-group" role="group" aria-label="Basic example">
                         <button type="button" class="btn btn-primary disabled">{{ __('DOWN', 'centreon') }}</button>
                         <button type="button" class="btn btn-primary" id="ack">{{ __('ACK', 'centreon') }}</button>
                        </div>
                    {% else %}
                        <span class="status status-orange">
                        {{ one_host.status }}
                        </span>
                    {% endif %}
                </div>
    </div>
    </div>
    <div class="col">
        <div class="datagrid-item">
            <div class="datagrid-title fw-bold">{{ __("Name") }}</div>
                <div class="datagrid-content mt-2">{{ one_host.name }}</div>
        </div>
    </div>
    <div class="col">
        <div class="datagrid-item">
            <div class="datagrid-title fw-bold">{{ __("Alias") }}</div>
                <div class="datagrid-content mt-2">{{ one_host.alias }}</div>
        </div>
    </div>
    <div class="col">
        <div class="datagrid-item">
            <div class="datagrid-title fw-bold">{{ __("FQDN") }}</div>
                <div class="datagrid-content mt-2">{{ one_host.fqdn }}</div>
        </div>
    </div>
    <div class="col">
        <div class="datagrid-item">
            <div class="datagrid-title fw-bold">{{ __("Last check") }}</div>
                <div class="datagrid-content mt-2">{{ one_host.last_check }}</div>
        </div>
    </div>
    <div class="col">
        <div class="datagrid-item">
            <div class="datagrid-title fw-bold">{{ __("Next check") }}</div>
                <div class="datagrid-content mt-2">{{ one_host.next_check }}</div>
        </div>
    </div>
    <div class="col">
        <div class="datagrid-item">
            <div class="datagrid-title fw-bold">{{ __("Check period") }}</div>
                <div class="datagrid-content mt-2">{{ one_host.check_period }}</div>
        </div>
    </div>
</div>
</div>

<div class="card border-0">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs" data-bs-toggle="tabs">
      <li class="nav-item">
        <a href="#tabs-services-ex1" class="nav-link active" data-bs-toggle="tab">{{ __("Services") }}</a>
      </li>
      <li class="nav-item">
        <a href="#tabs-historique-ex1" class="nav-link" data-bs-toggle="tab">{{ __("Timeline") }}</a>
      </li>
    </ul>
  </div>
</div>

  <div class="card-body">
    <div class="tab-content">
      <div class="tab-pane active show" id="tabs-services-ex1">
        <div class="d-flex flew-row align-items-center p-2 mt-3">
                <h2 class="pe-3 m-0">{{ __("Services") }}</h2>
                {% set count_ok = 0 %}
                {% set count_w = 0 %}
                {% set count_d = 0 %}
                {% set count_un = 0 %}
                    {% for service in one_host["services"] %}
                        {% if service.status.name == "OK" %}
                            {% set count_ok = count_ok + 1 %}
                        {% elseif service.status.name == "WARNING" %}
                            {% set count_w = count_w + 1 %}
                        {% elseif service.status.name == "CRITICAL" %}
                            {% set count_d = count_d + 1 %}
                        {% else %}
                            {% set count_un = count_un + 1 %}
                        {% endif %}
                    {% endfor %}
                        <div class="d-flex align-items-center" >
                            <span class="badge bg-teal m-1" title="OK" data-bs-toggle="tooltip" data-bs-placement="top">{{ count_ok }}</span>
                            <span class="badge bg-orange m-1" title="WARNING" data-bs-toggle="tooltip" data-bs-placement="top">{{ count_w }}</span>
                            <span class="badge bg-red m-1" title="CRITICAL" data-bs-toggle="tooltip" data-bs-placement="top">{{ count_d }}</span>
                            <span class="badge bg-grey m-1" title="UNKNOWN" data-bs-toggle="tooltip" data-bs-placement="top">{{ count_un }}</span>
                        </div>
        </div>

        <div class="row row-deck p-2 mb-2">
            {% for service in one_host["services"] %}
                <div class="col-md-4">
                <div class="card mt-3" style="max-height: 200px;">
                    {% if service.status.name == "OK" %}
                        <div class="card-status-start bg-green"></div>
                        <div class="card-body">
                        <div class="d-flex align-items-center">
                        <span class="status status-green">{{ service.status.name }}</span>
                        <h3 class="card-title m-0 px-2 text-truncate">{{ service["display_name"] }}</h3>
                        </div>
                    {% elseif service.status.name == "WARNING" %}
                        <div class="card-status-start bg-orange"></div>
                        <div class="card-body">
                        <div class="d-flex align-items-center">
                        <span class="status status-orange">{{ service.status.name }}</span>
                        <h3 class="card-title m-0 px-2 text-truncate">{{ service["display_name"] }}</h3>
                        </div>
                    {% elseif service.status.name == "CRITICAL" %}
                        <div class="card-status-start bg-red"></div>
                        <div class="card-body">
                        <div class="d-flex align-items-center">
                        <span class="status status-red">{{ service.status.name }}</span>
                        <h3 class="card-title m-0 px-2 text-truncate">{{ service["display_name"] }}</h3>
                        </div>
                    {% else %}
                        <div class="card-status-start bg-secondary"></div>
                        <div class="card-body">
                        <div class="d-flex align-items-center">
                        <span class="status status-grey">{{ service.status.name }}</span>
                        <h3 class="card-title m-0 px-2 text-truncate">{{ service["display_name"] }}</h3>
                        </div>
                    {% endif %}
                        <div class="d-flex justify-content-between">
                        <code class="m-0 mt-3"> {{ service["output"] }} </code>
                        <code class="text-nowrap m-0 mt-3 ms-2"> {{ service["duration"] }} </code>
                </div>
                </div>
        </div>
  </div>
             {% endfor %}
</div>
    </div>

        <div class="tab-pane" id="tabs-historique-ex1">
            {% include '@centreon/hosttimeline.html.twig' %}
        </div>

<script>
    $(document).ready(function(){
        $('#check').click(function(){
            $('.toggle').toggleClass('d-none');
            $.post(CFG_GLPI['root_doc'] + "/" + GLPI_PLUGINS_PATH.centreon + "/ajax/sendCheck.php?hostid=" + {{ hostid }}, function(response){
                reloadTab('');
                $('#check').addClass('btn-lime');
                $('.toggle').toggleClass('d-none');
            })
        });
        $('#downtime').click(function(){
                $('#duration_select').hide();
                $('#dialog').modal('show');
        });
        $('#is_fixed').click(function(){
                $('#duration_select').toggle();
        });
        $('#submit').click(function(){
            $('input[name=author_id]').val( {{ uid }} );
            var textarea = $.trim($('#comment').val());
            if(textarea != "") {
                $('#comment').val(textarea);
            }

            var params = $('#setdowntime').serializeArray();
            var flatparams = {};
            $.each(params, function() {
                if (this.name.includes('time')) {
                    var date = new Date(this.value);
                    this.value = date.toISOString();
                }
                flatparams[this.name] = this.value;
            });
            $.ajax({
                "type": 'POST',
                "url" : CFG_GLPI['root_doc'] + "/" + GLPI_PLUGINS_PATH.centreon + "/ajax/setDowntime.php",
                "data": {
                    "hostid": {{ hostid }},
                    "params": flatparams
                },
                "success": function(result) {
                    console.log('downtime envoyé');
                    reloadTab('');
                }
            });
        });
        $('#ack').click(function() {
            $('#ack_modal').modal('show');
        });
        $('#ack_ok').click(function() {
            var params = $('#ack_form').serializeArray();
            var flatparams = {};
            $.each(params, function() {
                flatparams[this.name] = this.value;
            });
            console.log(params);
            $.ajax({
                "type": 'POST',
                "url" : CFG_GLPI['root_doc'] + "/" + GLPI_PLUGINS_PATH.centreon + "/ajax/ack.php",
                "data": {
                    "hostid": {{ hostid }},
                    "params": flatparams
                },
                "success": function(data) {
                    reloadTab('');
                    console.log('acknowledge ok');
                    console.log(data);
                }
            });
        })

        if({{ indowntime }} == true) {
            $('#cancel_d').click(function(){
                console.log({{ one_host.in_downtime }});
                $.ajax({
                    "type": 'POST',
                    "url" : CFG_GLPI['root_doc'] + "/" + GLPI_PLUGINS_PATH.centreon + "/ajax/cancelDowntime.php",
                    "data": {
                        "downtimeid": {{ lastdowntimeid ?? 0 }}
                    },
                    "success": function(){
                        reloadTab('');
                        console.log('downtime annulé');
                    }
                });
            });
        }
        $(document).on('submit','#setdowntime',function(event){
            event.preventDefault();
        });
    });
</script>
